@import url("./colors.css");

:root {
  --content-border: 8px;
}

/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  box-sizing: border-box;
  background-color: var(--bg_h);
}

body {
  /* height: 100dvh; */
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

input {
  border: none;
  outline: none;
  border-radius: var(--content-border);
  padding: 0.7rem;
  width: 88%;
}

.active {
  background-color: var(--orange-dim);
  border-radius: var(--content-border);
}

#root {
  position: relative;
  font-family: "Exo 2", sans-serif;
  font-size: 17px;
  padding: 1rem 3rem;
  max-width: 880px;
}

#root p,
#root h1,
#root h2,
#root h3,
#root i {
  color: var(--fg_h);
}

.header {
  background-color: var(--orange-dim);
  padding: 1rem;
  border-radius: var(--content-border);
  display: flex;
  justify-content: space-between;
}

.header i {
  font-size: 2em;
}

/* Input */

.input-wrapper {
  position: relative;
  background-color: var(--orange-dim);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  border-radius: var(--content-border);
  padding: 1rem;
}

.slider-wrapper {
  position: relative;
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.slider-wrapper h2 {
  background: var(--bg);
  border-radius: var(--content-border);
  margin-left: 0.4rem;
  height: 100%;
  display: flex;

  padding: 0.3rem 0.8rem;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  background: none;
  background: white;
  margin: 0;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  outline: none;
  background: var(--orange-dim);
  border-radius: var(--content-border);
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: var(--orange-dim);
  outline: none;
  cursor: pointer;
  border-radius: var(--content-border);
}

/* Autocomplete */

.autocomplete-wrapper {
  font-weight: bold;
  font-size: 1.13em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--content-border);
}

.autocomplete-wrapper > * {
  margin: 0.1rem;
  padding: 0.6rem;
}

.autocomplete-wrapper > *:hover {
  background-color: var(--orange-dim);
  border-radius: var(--content-border);
  cursor: pointer;
}

.autocomplete-wrapper div:first-child {
  margin-top: 1rem;
}

.autocomplete-wrapper div:last-child {
  margin-bottom: 1rem;
}

/* Weather */

.weather-wrapper {
  background-color: var(--bg);
  border-radius: var(--content-border);
  padding: 1rem;
}

.weather {
  padding: 1rem;
  margin-top: 1rem;
  border-radius: var(--content-border);
  background-color: var(--orange-dim);
  display: flex;
  flex-direction: column;
}

.weather-body > div {
  background-color: var(--bg);
  margin: 0.3rem;
  padding: 0.8rem 0.7rem;
  border-radius: var(--content-border);
  font-weight: bold;
  width: 80px;
}

@media only screen and (max-width: 339px) {
  .weather-body > div {
    width: 100%;
    padding: 2rem;
  }
}

.weather-header {
  margin: 1rem;
}

.weather-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.weather p {
  text-align: center;
}
