* {
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
}

#root input {
  width: 70%;
  margin: 1rem;
  padding: 0.4rem;
}
