@import url("./colors.css");

/* General */

* {
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  box-sizing: border-box;
  background-color: var(--bg_h);
}

input {
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 0.7rem;
}

.active {
  background-color: var(--orange-dim);
  border-radius: 8px;
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Exo 2", sans-serif;
}

/* Input */

.input-wrapper {
  position: relative;
  width: 100%;
  background-color: var(--orange-dim);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-wrapper input {
  margin: 1rem 0;
  width: 80%;
}

/* Autocomplete */

.autocomplete-wrapper {
  padding: 1rem 0;
  background-color: var(--bg);
  color: var(--fg_h);
  font-weight: bold;
  font-size: 1.13em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.autocomplete-wrapper > * {
  margin: 0.1rem;
  padding: 0.6rem;
}

.autocomplete-wrapper > *:hover {
  background-color: var(--orange-dim);
  border-radius: 8px;
  cursor: pointer;
}

/* Weather */

.weather {
  padding: 1rem;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
}

.weather-body > div {
  background-color: var(--orange-dim);
  margin: 0.3rem;
  padding: 0.6rem 0.3rem;
  border-radius: 8px;
  color: var(--fg_h);
  font-weight: bold;
  width: 80px;
}

.weather-header {
  color: var(--fg_h);
  margin: 1rem;
}

.weather-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.weather p {
  text-align: center;
}

.weather h2 {
  color: var(--fg_h);
}
